.menuItem {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: flex-start;
    justify-content: space-between;
    grid-gap: 0.5rem;
    padding: 0 1rem;
    margin-bottom: 1rem;
}
.menuItemId,
.menuItemTitle,
.menuItemPrice {
    font-weight: bold;
}
.menuItemId,
.menuItemTitle,
.menuItemDescription {
    text-align: left;
}

.menuItemId {
    min-width: 3rem;
    order: 1;
    grid-column: 1/2;
}
.menuItemTitle {
    order: 2;
    grid-column: 2/3;
}
.menuItemDescription {
    order: 4;
    grid-column: 2/3;
}
.menuItemPrice {
    text-align: right;
    order: 3;
    grid-column: 3/4;
}
