h1 {
    font-size: 1.8em;
    font-weight: bold;
}
h2 {
    font-size: 1.3em;
    font-weight: bold;
}
h1.first,
h2.first,
h3.first {
    margin-top: 0;
}
.container {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100vh;
}

.header {
    grid-row: 1/2;
    position: sticky;
    top: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}
.header-nav {

    padding: 1rem;
    background-color: dimgray;
    color: #fff;
    height:80px;
    grid-row: 1/2;
}
.header-menu-nav {
    overflow: hidden;
    grid-row: 2/3;
}
.header-cart {
    padding: 1rem;
    background-color: dimgray;
    color: #fff;
    height:60px;
    grid-row: 3/4;
}
.menu {
    grid-row: 2/3;
    background-color: darkgray;
    padding: 1rem;
}